*{
	box-sizing: border-box;
	-webkit-user-select: none !important;
    user-select:none !important; 
	
}
body, html{
	margin:0;
	padding:0;
}

#home{
	visibility:hidden;
}

.view{
	display: none;
	width:100vw;
	height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.show{
	display: block;
}
.center{
	text-align: center;
}
