/* MAIN */
* {cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag:none;}
body{background-size: cover; background-repeat: no-repeat; overflow:hidden; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; font-weight:300; background-color:#f1f1ec; }
p{margin:0; color:#26313d; font-size:30px; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;}
h2{font-size:70px; color:#cc0066; font-weight:300; line-height:100%; margin:100px 0 35px 0;}
h5{color:#26313d; }
.st2{fill:#000;}
button{font-size:25px; min-height: 60px; min-width:180px; border:none; color:#f1f1ec; font-weight:300; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;  padding:15px 20px 14px 20px; border-radius:45px; margin-top:57px;}
button[data-button="pink"], button[data-button="video"]{background:#cc0066; text-transform: uppercase;}
button[data-button="transparent"]{margin: 0; left: 50%; position: relative; transform: translate(-50%, -50%); background: transparent; color: #26313d; border: 1px solid #26313d; opacity: 1; pointer-events: none; transition: ease .3s all; float: left;}
button[data-button="transparent"].visible{background:#cc0066; pointer-events:auto; border:1px solid transparent; color:#f1f1ec;}
:focus {outline:0;}
.hidden{opacity:0; pointer-events:none;}

/* FONTS */
@font-face {
	font-family: 'Rubik-Light';
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

.languages{position:absolute; top:50%; transform:translate(0%, -50%); left:100px; display:flex; flex-direction:column;}
	.languages div{position:relative; transition:ease .3s all; margin:11px 0; font-size:18px; border:1px solid #26313d; border-radius:50%; width:60px; height:60px;}
		.languages div.active{border:1px solid #cc0066;}
			.languages div span{top: 50%; position: relative; transition:ease .3s all; transform: translate(0, -50%); float: left; width: 100%;}
				.languages div.active span{color:#cc0066;}
.home_btn{position: absolute; top: 120px; left: 100px; width: 60px; height: 60px; border: 1px solid #26313d; border-radius: 50%;}
	.home_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.info_btn{position: absolute; top: 120px; left: 1520px; width: 60px; height: 60px; border: 1px solid #e8e9e4; border-radius: 50%;}
	.info_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.close_btn{position: absolute; top: 120px; left: 1520px; width: 60px; height: 60px; border: 1px solid #e8e9e4; border-radius: 50%;}
	.close_btn img{top:50%; position:relative; transform: translate(0, -50%);}

.choose_gender_images{width: 776px; height: 549px; position: relative; margin-left: 48%; transform:translate(-50%, 0); margin-top: 5%;}
	.choose_gender_images img{position:absolute; top:0; transition:ease .3s all;}
		.choose_gender_images img.g1{bottom:0; left:0;}
		.choose_gender_images img.g2{right:0;}
			.choose_gender_images img.not_active{opacity:.4;}

.selected_appearance p{color:#f1f1f1;}
	.partners_count h2{font-size:300px;}

.height100{height: 100%;}
.center_content{display: flex; display: -ms-flexbox; align-items: center; justify-content: center; -ms-flex-pack: center; flex-direction: column;}

button[data-button="home"]{z-index: 2; position: absolute; left: 100px; top: 120px; background: transparent; padding: 0; margin: 0; min-width: 61px; height: 61px; outline: none; appearance: none; -webkit-appearance: none;}
#playBtn{position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto;}

#custom-seekbar {
	background-color: rgba(23, 29, 37, 0.4);
	overflow: hidden;
	width: 1000px;
	padding: 0 37px;
	height: 69px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	bottom: 71px;
	z-index: 2;
}

#custom-seekbar #seeker-line{
	width: 100%;
	background-color: #fff;
	height: 3px;
	position: relative;
}
#custom-seekbar span
{
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 26px;
	width: 26px;
}

video{width: 100%; height: 100%;}

.progress{position: absolute; top:120px; right: 100px; height: 61px; width: 61px;}
.progress-circle {transform: rotate(-90deg);}
.progress-circle-back {fill: none; stroke: #171d25; stroke-width:2px;}
.progress-circle-prog { fill: none; stroke: #fff; stroke-width: 2px; stroke-dasharray: 0 999; stroke-dashoffset: 0px;}

/* VIEW 1 */
.view[data-view="1"] h2{margin-top: 75px;}
